    .clearfix:before,
    .clearfix:after {
       content: " ";
       display: table;
    }
     
    .clearfix:after {
       clear: both;
    }
     
    .clearfix {
       *zoom: 1;
    }

@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body {
    /*background-color: #FA6900;*/
    font-family: "Tahoma",Lato,sans-serif;
    margin: 0;
    padding: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f6290c+24,f16f5c+48,f02f17+71,e73827+100;Red+Gloss+%231 */
	background-color: #f85032; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background-color: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmODUwMzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIyNCUiIHN0b3AtY29sb3I9IiNmNjI5MGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmMTZmNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MSUiIHN0b3AtY29sb3I9IiNmMDJmMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTczODI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-color: -moz-radial-gradient(center, ellipse cover,  #f85032 0%, #f6290c 24%, #f16f5c 48%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
	background-color: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f85032), color-stop(24%,#f6290c), color-stop(48%,#f16f5c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
	background-color: -webkit-radial-gradient(center, ellipse cover,  #f85032 0%,#f6290c 24%,#f16f5c 48%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
	background-color: -o-radial-gradient(center, ellipse cover,  #f85032 0%,#f6290c 24%,#f16f5c 48%,#f02f17 71%,#e73827 100%); /* Opera 12+ */
	background-color: -ms-radial-gradient(center, ellipse cover,  #f85032 0%,#f6290c 24%,#f16f5c 48%,#f02f17 71%,#e73827 100%); /* IE10+ */
	background-color: radial-gradient(ellipse at center,  #f85032 0%,#f6290c 24%,#f16f5c 48%,#f02f17 71%,#e73827 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	
	
}

img {
    width: 100%;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #A5AAAB;
	font-weight: 900;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #A5AAAB;
	font-weight: 900;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #A5AAAB;
	font-weight: 900;
}


:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #A5AAAB;
	font-weight: 900;
}

#interface {
    left: 50%;
    margin-left: -180px;
    margin-top: -168px;
    position: absolute;
    top: 40%;
    width: 360px;
}

.boxLogin {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
}

.boxLogin #formLogin input {
    border: 0 none;
    border-radius: 5px;
    box-shadow: 0 0 31px rgba(100, 100, 100, 0.5);
    display: block;
    height: 47px;
    /*line-height: 0;*/
    margin: 25px auto;
    padding: 0 5px 0 47px;
    width: 70%;
}

#usuario {
    background: #fff url("img/imgUser.png") no-repeat scroll 0 0;
}

#senha {
    background: #fff url("img/imgPass.png") no-repeat scroll 0 0;
}

.submit {
    /*background-color: #cff09e;*/
	background-color: #ffc652;
    padding: 0 !important;
    transition: transform 0.2s ease 0s;
    width: 75% !important;
	font-weight: 900;
}

.submit:active {
    transform: scale(1.1);
}

.logo {
    margin: 0 auto;
    width: 31%;
}
#registraLogin{
    border-left: 1px solid;
    float: left;
    font-size: 12px;
	font-weight: 900;
    width: 49%;
}

#registraLogin p{
	padding: 0px 32% 0px 0px;
	transform 0.2s ease 0s;
}

#esqueceuSenha{
    float: left;
    font-size: 12px;
	font-weight: 900;
    width: 50%;
}

#esqueceuSenha  p {
	padding: 0px 0px 0px 45%;
	transform 0.2s ease 0s;
}

.boxCadastro{
	margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
}